.select-type {
  width: 100%;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.329);
  position: relative;
  z-index: 5000;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  text-transform: capitalize;
  color:var(--FormInputButton-form__input-color);
}

.select-type__selected {
  font-size: 0.8rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5em;
  transition: background-color 0.3s, color 0.3s;
  background-color: var(--SelectTypes-select-type__selected-backgroundColor);
}

.select-type__selected--config {
  padding: 0.5em 0.5em;
}

.select-type--showed {
  background-color: var(--FormInputButton-form__btn-backgroundColor);
  color: var(--FormInputButton-form__btn-color);
}


.select-type__list {
  position: absolute;
  top: 110%;
  left: 0;
  z-index: 500;
  background-color: var(--SelectTypes-select-type__selected-backgroundColor);
  width: 100%;
  overflow-y: scroll;
  transition: max-height 0.3s;
  font-size: 0.8rem;
}

.select-type__list::-webkit-scrollbar {
  width: 6px;
}

.select-type__list::-webkit-scrollbar-thumb {
  background-color: var(--FormInputButton-form__btn-backgroundColor);
  border-radius: 1em;
}

.select-type__list::-webkit-scrollbar-track {
  background-color: transparent;
}

.select-type__list--hidden {
  max-height: 0;
}

.select-type__list--show {
  max-height: 11em;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

.select-type__options {
  padding: 0.2em 0.5em;
  transition: background-color 0.2s, color 0.2s;
}

.select-type__options:hover,
.select-type__options--active {
  background-color: var(--SelectTypes-select-select-type__options_-_hover-backgroundColor);
  color: var(--SelectTypes-select-select-type__options_-_hover-color);
}

@media (min-width:981px) {
  .select-type__selected,
  .select-type__list {
    font-size: 1.4rem;
  }
}